@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pontano+Sans:wght@300..700&family=Stint+Ultra+Expanded&display=swap');
@font-face {
  font-family: 'ISOCP';
  src: url('../fonts/ISOCP.ttf') format('tiff');
  /* Add other properties like font-weight and font-style if needed */
}

@theme {
  --font-ISOCP: 'ISOCP', 'sans-serif';
  --font-abel: 'abel', 'sans-serif';
  --font-JosefinSans: 'Josefin Sans', 'sans-serif';
  --font-Crimson: 'Crimson Text', 'sans-serif';
  --font-Pontano: 'Pontano Sans', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;
}
