@import './assets/css/font.css';
@import './assets/css/color.css';
@import './assets/css/animation.css';

@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-black; /* Replace with your desired background color */
    font-family: 'Pontano Sans', sans-serif;
    color: #757575;

    ::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.logo {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -2px;
}

.gradientMask {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.318),
    rgba(0, 0, 0, 0)
  );
}
