@import './assets/css/font.css';
@import './assets/css/color.css';

@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ISOCP';
  src: url('../fonts/ISOCP.ttf') format('tiff');
  /* Add other properties like font-weight and font-style if needed */
}

@theme {
  --font-ISOCP: 'ISOCP', 'sans-serif';
  --font-abel: 'abel', 'sans-serif';

  --animate-slide-down: slideDown 1s ease-in-out;
  @keyframes slideDown {
    100% {
      margin-bottom: none;
    }
    50% {
      opacity: 1;
    }
    0% {
      margin-bottom: 200px;
      opacity: 0;
    }
  }

  --animate-slide-up: slideUp 1s ease-in-out;
  @keyframes slideUp {
    100% {
      margin-top: none;
    }
    50% {
      opacity: 1;
    }
    0% {
      margin-top: 200px;
      opacity: 0;
    }
  }

  --animate-spacing: spacing 1s ease-in-out;
  @keyframes spacing {
    100% {
      letter-spacing: -2px;
    }
    0% {
      letter-spacing: 20px;
    }
  }

  --animate-fadeIn: fadeIn 1s ease-in-out forwards;
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
}

.logo {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: -2px;
}

@layer base {
  html {
    @apply bg-neutral-900; /* Replace with your desired background color */
    font-family: 'abel', sans-serif;
    color: #5c5c5c;
  }
}
